@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

body {
  position: relative;
  color: white;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

label {
  color: white;
  font-family: 'DM Sans', 'Roboto', sans-serif;
  width: 300px;
}

input {
  background-color: black;
  color: white;
  border-color: white;
  width: 300px;
}

.greenButton {
  background-color: #1da53c;
  font-family: 'DM Sans', 'Roboto', sans-serif;
}
